html {
  box-sizing: border-box;
  margin: 0;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}
.container{
  border: 1px solid rgb(71, 7, 199);
  position: relative;
  width: 100vw;
  height: auto;
  min-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.colorea{
  color: rgb(220, 239, 239);
  font-size: 3rem;
  margin: 0;

}
/* .visor{
  border: 1px solid red;
  position: relative;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.visor__turno{
  border: 1px solid rgb(192, 230, 21);
  position: relative;
  width: 100%;
  height: 10%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.visor__turno__title{
  border: 1px solid rgb(192, 230, 21);
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.visor__turno__ficha{
  border: 1px solid rgb(48, 52, 29);
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
